/* Try different box model properties below */
.pages__page {
  border: 1px solid #4491db;
  border-radius: 4px;
  background: #fff;
}

.site-wrapper {
  padding-bottom: 2rem;
}

.countries {
  padding: 0.5rem;
}

.country {
  margin: 0.5rem;
}
